<!-- Navigation -->
<div id="wrapper">
   <div id="header" class="fixed">
      <span class="data-title">Luna</span>
      <span class="data-menu">
        <span class="data-right">
          <span class="user"><%= @_user.identificateur %></span>
          <a href="/api/signout" class="connect">Deconnection</a>
        </span>
      </span>
   </div>

   <div id="content">
      <div class="dashboard-back">
        <div class="dashboard-header">
          <h1 class="dashboard-title"><%= @_user.identificateur %><span class="dashboard-title-spec">PROFILE</span></h1>
        </div>
      </div>
         <div class="dashboard-body">
          <div class="dashboard">
              <div class="management-menu">
            </div>
            <div class="management-content">
              <div id="profile">
                <div class="row">
                  <div class="large-5 columns group">
                      <span class="add-title">Mes information</span>
                      <div class="large-12 columns">
                        <div class="row">
                          <div class="large-6 columns">
                                  <input type="password" id="mdp" placeholder="mot de passe" value="<%= @_user.mot_de_passe %>"/>
                                  <input type="tel"      id="telephone"     placeholder="téléphone" value="<%= @_adresse.telephone %>"/>
                                  <input type="text"     id="code_postale"  placeholder="code postale" value="<%= @_adresse.code_postal %>"/>
                          </div>
                          <div class="large-6 columns">
                                 <input type="text"     id="numero"        placeholder="num" value="<%= @_adresse.no_maison %>"/>
                                <input type="text"     id="rue"           placeholder="rue" value="<%= @_adresse.rue %>"/>
                                <input type="text"     id="ville"         placeholder="ville" value="<%= @_adresse.ville %>"/>

                          </div>
                       </div>
                      <a class="admin-btn-style"  href="javascript:app.users.user_update()">Modifier</a>
                    </div>
                  </div>
               </div>
              </div>
                    </div>
                  </div>
                </div>
        </div>
   <div id="footer">
            <div class="row data-center">
              <div class="large-6 columns">
                  <ul class="inline-list lastine">
                    <li >Philippe Potvin</li>
                    <li >William Gomez</li>
                    <li >Reneau Bedard</li>
                  </ul>
              </div>
              <div class="large-6 columns">
                  <p class="copyright">&copy; LOG 210 - Groupe 3</p>
              </div>
          </div>
   </div>
</div>
