<!-- Navigation -->
<div id="wrapper">
   <div id="header" class="fixed">
      <span class="data-title">Luna</span>
      <span class="data-menu">
        <span class="data-right">
          <a href="#" class="connect">Deconnection ></a>
        </span>
      </span>
   </div>

   <div id="content">
      <div class="dashboard-back">
      <div class="dashboard-header">
      <h1 class="dashboard-title">DASHBOARD<span class="dashboard-title-spec">ADMIN</span></h1>
       </div>

      </div>
         <div class="dashboard-body">
          <div class="dashboard">
            <!-- <div class="app-management"> -->
              <div class="management-menu">
                <div class="data-admin">
                    <ul class="no-bullet">
                      <li><label>Restaurateur</label></li>
                      <li><a class="admin-btn-style" href="javascript:app.app_nouveau_restaurateur();">nouveau</a></li>
                      <li><a class="admin-btn-style" href="javascript:app.app_gerer_restaurateur();">gerer</a></li>
                      <li><label>Restaurant</label></li>
                      <li><a class="admin-btn-style" href="javascript:app.app_nouveau_restaurant();" >nouveau</a></li>
                      <li><a class="admin-btn-style" href="javascript:app.app_gerer_restaurant();" >gerer</a></li>
                      <li><label>Livreur</label></li>
                      <li><a class="admin-btn-style" href="javascript:app.app_nouveau_livreur();" >nouveau</a></li>
                      <li><a class="admin-btn-style" href="javascript:app.app_gerer_livreur();" >gerer</a></li>
                     
                     </ul>
                </div>
            </div>
            <div class="management-content">

              <div  id="add-restaurateur" class="row">
                <div  class="large-4 columns group">
               <span class="add-title">Ajout d'un restaurateur</span>
                <!--*********************** ajouter Restaurateur ******************************-->
                <% form_restaurants_array = @restaurants.map { |i| [i.nom, i.id] } %>
                <% form_restaurants_array.insert(0, [" ","-1"]) #on place un élément vide dans le select%>
                <%= form_for @nouveau_restaurateur, url: {action: "saisirInformations"}, html:{class: "large-10 columns"}  do |f| %>
                    <%= f.text_field :nom, :placeholder => "nom", :class => "large-10 columns" %>
                    <%= f.text_field :prenom, :placeholder => "prenom", :class => "large-10 columns" %>
                    <%= f.text_field :identificateur, :placeholder => "nom d'utilisateur", :class => "large-10 columns" %>
                    <%= f.password_field :mot_de_passe, :placeholder => "mot de passe", :class => "large-10 columns" %>
                    <%= select_tag(:restaurant, options_for_select(form_restaurants_array, 0)) %>
                    <%= f.submit "Ajouter restaurateur", :class => "admin-btn-style" %>   
                <% end %>
              </div>
               <div class="large-8 columns group dashboard-table">
                  
               <table>
                  <tr class="table-title">
                    <th>Utilisateur</th>
                    <th>Mot de passe</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Restaurant</th>
                  </tr>
                  <% @restaurateur.each do |r| %>
                  <tr>
                    <td><%= r.identificateur %></td>

                    <td><%= r.mot_de_passe %></td>
                    <td><%= r.nom %></td>
                    <td><%= r.prenom %></td>
          
                    <td>
                    <!--*********************** adresse restau à faire ******************************-->
                      <address>
                      <% if r.restaurant != nil # on verifi si le restaurateur possede un restaurant%>
                        <strong><%= r.restaurant.nom %></strong><br>
                          <%= r.restaurant.adresse.no_maison %> <%= r.restaurant.adresse.rue %><br>
                          <%= r.restaurant.adresse.ville %>, <%= r.restaurant.adresse.code_postal %><br>
                        <abbr title="Phone">P:</abbr> <%= r.restaurant.adresse.telephone %>
                      <% else %>
                        <p>restaurant requis</p>
                      <% end # fin if r.restaurant %>
                      </address>
                    </td>
                  </tr>
                  <% end %>
              </table>
              </div>
            </div>

                <div id="add-restaurant" class="row">
                 <div  class="large-4 columns group">
                <span class="add-title">Ajout d'un restaurant</span>
                <div class="row">
   <!-- *************************ajouter restaurant ************************************************-->
                  <% #construction du tableau qui sera passé pour le select du formulaire%> 
                      
                  <% form_select_array = @restaurateurs_sans_restaurants.map {|i| ["#{i.nom} #{i.prenom}",i.id] } %>
                  <% form_select_array.insert(0, [" ","-1"]) #on place un élément vide dans le select%>
                  <%= form_for @nouveau_restaurant, url: {action: "saisirInformationsRestaurant"}, html:{class: "large-10 columns"}  do |r| %>
                    <%= r.text_field :nom, :placeholder => "nom", :class => "large-10 columns" %>
                    <%= fields_for :adresse, @nouveau_restaurant.adresse do |r_adresse| %>
                        <%= r_adresse.text_field :no_maison, :placeholder => "numéro de maison", :class => "large-10 columns" %>
                        <%= r_adresse.text_field :rue, :placeholder => "rue", :class => "large-10 columns" %>
                        <%= r_adresse.password_field :ville, :placeholder => "ville", :class => "large-10 columns" %>
                        <%= r_adresse.text_field :telephone, :placeholder => "téléphone", :class => "large-10 columns" %>
                        <%= r_adresse.text_field :code_postal, :placeholder => "code postal", :class => "large-10 columns" %>
                    <% end %>                  
                    <%= select_tag(:restaurateur, options_for_select(form_select_array, 10)) %>
                    <%= r.submit "Ajouter restaurant", :class => "admin-btn-style" %>   
                <% end %>
              </div>
            </div>
    <!-- *************************Table qui montre les ajouts de restaurants*************************************-->
             <div class="large-8 columns group dashboard-table">
              <table>
                <tr class="table-title">
                  <th>Restaurateur</th>
                  <th>Nom</th>
                  <th>Téléphone</th>
                  <th>Numéro</th>
                  <th>Rue</th>
                  <th>Ville</th>
                  <th>Code postale</th>
                </tr>
                <% @restaurants_restaurateurs.each do |r| %>  
                <tr>
                  <td><% if r.restaurateur != nil %>
                          <%= "#{r.restaurateur.nom}" + " " + "#{r.restaurateur.prenom}"%></td>
                      <% end %>
                  <td><%= r.nom %></td>
                  <td><%= r.adresse.telephone %></td>
                  <td><%= r.adresse.no_maison %></td>
                  <td><%= r.adresse.rue %></td>
                  <td><%= r.adresse.ville %></td>
                  <td><%= r.adresse.code_postal %></td>
                </tr>
                <% end %>
              </table>
              </div>
            </div>


              <div id="add-livreur" class="row">
                 <div  class="large-4 columns group">
                <span class="add-title">Ajout d'un livreur</span>
                <div class="row">
                  <!--*********************** ajouter Livreur ******************************-->
                <%= form_for @nouveau_livreur, url: {action: "saisirInformationsLivreur"}, html:{class: "large-10 columns"}  do |f| %>
                    <%= f.text_field :nom, :placeholder => "nom", :class => "large-10 columns" %>
                    <%= f.text_field :prenom, :placeholder => "prenom", :class => "large-10 columns" %>
                    <%= f.text_field :identificateur, :placeholder => "nom d'utilisateur", :class => "large-10 columns" %>
                    <%= f.password_field :mot_de_passe, :placeholder => "mot de passe", :class => "large-10 columns" %>
                    <%= f.submit "Ajouter livreur", :class => "admin-btn-style" %>   
                <% end %>
                </div>
              </div>
              <div class="large-8 columns group dashboard-table">
                  <table>
                  <tr class="table-title">
                    <th>Utilisateur</th>
                    <th>Mot de passe</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                  </tr>       
                  <% @livreurs.each do |l| %>  
                  <tr>
                    <td><%= l.identificateur %></td>
                    <td><%= l.mot_de_passe %></td>
                    <td><%= l.nom %></td>
                    <td><%= l.prenom %></td>
                  </tr>
                  <% end %>
                </table>
              </div>
            </div>
    <!-- ******************************* gerer Restaurateur ********************************-->
    <div  id="gerer-restaurateur" class="row">
               <div class="large-8 columns group dashboard-table">
                  <table>
                      <tr class="table-title">
                        <th><!--vide valide--></th>
                        <th>Utilisateur</th>
                        <th>Mot de passe</th>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Restaurant</th>
                      </tr>
                      <% @restaurateur.each do |r| %>
                      <tr>
                         <td><div><%= link_to "Supprimer", {controller: "management" ,action: "supprimerRestaurateur", id: r.id}, class: "hunt-btn-style" %></div><br/>
                            <div><%= link_to "Modifier", "javascript:;", onclick: "app.restaurateur_form_values(#{r.id}, \'#{r.nom}\', \'#{r.prenom}\', \'#{r.identificateur}\', \'#{r.mot_de_passe}\');", class: "hunt-btn-style modifierRestaurateur_btn"%></div>
                        </td>
                        <td><%= r.identificateur %></td>
                        <td><%= r.mot_de_passe %></td>
                        <td><%= r.nom %></td>
                        <td><%= r.prenom %></td>

                        <td>
                          <address>
                            <% if r.restaurant != nil # on verifi si le restaurateur possede un restaurant%>
                              <strong><%= r.restaurant.nom %></strong><br>
                                <%= r.restaurant.adresse.no_maison %> <%= r.restaurant.adresse.rue %><br>
                                <%= r.restaurant.adresse.ville %>, <%= r.restaurant.adresse.code_postal %><br>
                              <abbr title="Phone">P:</abbr> <%= r.restaurant.adresse.telephone %>
                            <% else %>
                              <p>restaurant requis</p>
                            <% end # fin if r.restaurant %>
                          </address>
                        </td>
                      </tr>
                      <% end %>
                    </table>
              </div>
               <!-- ******************************* Modifier restaurateur ********************************-->
                <div  class="large-4 columns group">
                <span class="add-title">Edition restaurateur</span>
                <div class="row" id="mofifierRestaurateur_form">
                  <!--*********************** Modifier Restaurateur ******************************-->

                  <%= form_for @nouveau_restaurateur, url: {action: "modifierRestaurateur", id: "0"}, html:{class: "large-10 columns", id: "form_modifierRestaurateur" } do |f| %>
                      <%= f.hidden_field :id, :id =>"restaurateur_id_edit", :value => "un id" %>
                      <%= f.text_field :nom, :placeholder => "nom", :class => "large-10 columns", :id =>"restaurateur_nom_edit" %>
                      <%= f.text_field :prenom, :placeholder => "prenom", :class => "large-10 columns", :id =>"restaurateur_prenom_edit" %>
                      <%= f.text_field :identificateur, :placeholder => "nom d'utilisateur", :class => "large-10 columns", :id =>"restaurateur_identificateur_edit" %>
                      <%= f.password_field :mot_de_passe, :placeholder => "mot de passe", :class => "large-10 columns", :id => "restaurateur_mdp_edit" %>
                      <%= select_tag(:restaurant, options_for_select(form_restaurants_array, 0), :id => "restaurateur_restaurant_edit") %>
                  <%= f.submit "Ajouter restaurateur", :class => "admin-btn-style" %>   
                  <% end %>
                </div>
              </div>
            </div>
            <!-- ******************************* gerer restaurant ************************-->
            <div  id="gerer-restaurant" class="row">
               <div class="large-8 columns group dashboard-table">
                  <table>
                <tr class="table-title">
                  <th></th>
                  <th>Restaurateur</th>
                  <th>Adresse</th>
                </tr>
                <% @restaurants_restaurateurs.each do |r| %>
                <tr>
                   <td><div><%= link_to "Supprimer", {controller: "management" ,action: "supprimerRestaurant", id: r.id}, class: "hunt-btn-style" %></div><br/>
                            <div><%= link_to "Modifier", "javascript:;", onclick: "app.restaurant_form_values(#{r.id}, \'#{r.nom}\', \'#{r.adresse.no_maison}\', \'#{r.adresse.rue}\', \'#{r.adresse.ville}\', \'#{r.adresse.code_postal}\', \'#{r.adresse.telephone}\');", class: "hunt-btn-style modifierRestaurateur_btn;"%>
                        </div>
                    </td>
                  <td><%if r.restaurateur != nil %>
                          <%= "#{r.restaurateur.nom}" + " " + "#{r.restaurateur.prenom}" %>
                      <% else %>
                      <p>Restaurateur requis</p>
                      <% end %>
                  </td>
                 <td>
                      <address>
                        <% if r.adresse != nil %>
                          <strong><%= r.nom %></strong><br>
                            <%= r.adresse.no_maison %> <%= r.adresse.rue %><br>
                            <%= r.adresse.ville %>, <%= r.adresse.code_postal %><br>
                          <abbr title="Phone">P:</abbr> <%= r.adresse.telephone %>
                        <% else %>
                          <p>restaurant requis</p>
                        <% end # fin if r.restaurant %>
                      </address>
                    </td>
                </tr>
                <% end #fin de la boucle%>
                </table>
              </div>
              <!--*********************************modifier restaurant********************************************-->
                    <div  class="large-4 columns group">
                <span class="add-title">Edition restaurant</span>
                <div class="row">
                  <% form_select_array = @restaurateurs_sans_restaurants.map {|i| ["#{i.nom} #{i.prenom}",i.id] } %>
                  <% form_select_array.insert(0, [" ","-1"]) #on place un élément vide dans le select%>
                  <%= form_for @nouveau_restaurant, url: {action: "modifierRestaurant", id: "0"}, method: "get", html:{class: "large-10 columns", id: "form_modifierRestaurant" }  do |r| %>
                    <%= r.text_field :nom, :id =>"restaurant_nom_edit", :placeholder => "nom", :class => "large-10 columns" %>
                    <%= fields_for :adresse, @nouveau_restaurant.adresse do |r_adresse| %>
                        <%= r_adresse.text_field :no_maison, :id =>"restaurant_no_maison_edit", :placeholder => "numéro de maison", :class => "large-10 columns" %>
                        <%= r_adresse.text_field :rue, :id =>"restaurant_rue_edit", :placeholder => "rue", :class => "large-10 columns" %>
                        <%= r_adresse.text_field :ville, :id =>"restaurant_ville_edit", :placeholder => "ville", :class => "large-10 columns" %>
                        <%= r_adresse.text_field :telephone, :id =>"restaurant_telephone_edit", :placeholder => "téléphone", :class => "large-10 columns" %>
                        <%= r_adresse.text_field :code_postal, :id =>"restaurant_code_postal_edit", :placeholder => "code postal", :class => "large-10 columns" %>
                    <% end %>                  
                    <%= select_tag(:restaurateur, options_for_select(form_select_array, 10)) %>
                    <%= r.submit "Ajouter restaurant", :class => "admin-btn-style" %>   
                <% end %>
                </div>
              </div>
            </div>


            <!-- ************************************ livreur ******************************************-->
              <div id="gerer-livreur" class="row">
              <div class="large-8 columns group dashboard-table">
                  <table>
                  <tr class="table-title">
                    <th></th>
                    <th>Utilisateur</th>
                    <th>Mot de passe</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                  </tr>
                  <% @livreurs.each do |r| %>
                      <tr>
                         <td><div><%= link_to "Supprimer", {controller: "management" ,action: "supprimerLivreur", id: r.id}, class: "hunt-btn-style" %></div><br/>
                            <div><%= link_to "Modifier", "javascript:;", onclick: "app.livreur_form_values(#{r.id}, \'#{r.nom}\', \'#{r.prenom}\', \'#{r.identificateur}\', \'#{r.mot_de_passe}\');", class: "hunt-btn-style modifierRestaurateur_btn"%></div>
                        </td>
                        <td><%= r.identificateur %></td>
                        <td><%= r.mot_de_passe %></td>
                        <td><%= r.nom %></td>
                        <td><%= r.prenom %></td>
                      </tr>
                      <% end %>
                </table>
              </div>

                 <div  class="large-4 columns group">
                <span class="add-title">Edition livreur</span>
                <div class="row" id="mofifierLivreur_form">
                  <!--*********************** Modifier Restaurateur ******************************-->
                  <%= form_for @nouveau_livreur, url: {action: "modifierLivreur", id: "0"}, method: "get", html:{class: "large-10 columns", id: "form_modifierLivreur" } do |f| %>
                      <%= f.hidden_field :id, :id =>"livreur_id_edit", :value => "un id" %>
                      <%= f.text_field :nom, :placeholder => "nom", :class => "large-10 columns", :id =>"livreur_nom_edit" %>
                      <%= f.text_field :prenom, :placeholder => "prenom", :class => "large-10 columns", :id =>"livreur_prenom_edit" %>
                      <%= f.text_field :identificateur, :placeholder => "nom d'utilisateur", :class => "large-10 columns", :id =>"livreur_identificateur_edit" %>
                      <%= f.password_field :mot_de_passe, :placeholder => "mot de passe", :class => "large-10 columns", :id => "livreur_mdp_edit" %>
                  <%= f.submit "Ajouter livreur", :class => "admin-btn-style" %>   
                  <% end %>
                </div>
              </div>
            </div>


            </div>
            <!-- </div> -->


         </div>
    </div>
   </div>
   <div id="footer">
            <div class="row data-center">
              <div class="large-6 columns">
                  <ul class="inline-list lastine">
                    <li >Philippe Potvin</li>
                    <li >William Gomez</li>
                    <li >Reneau Bedard</li>
                  </ul>
              </div>
              <div class="large-6 columns">
                  <p class="copyright">&copy; LOG 210 - Groupe 3</p>
              </div>
          </div>
   </div>
</div>

