<!-- Navigation -->
<div id="wrapper">
   <div id="header" class="fixed">
      <span class="data-title">Luna</span>
      <span class="data-menu">
          <span class="data-right">
          <span class="user"><%= @_user.identificateur %></span>
          <a href="/api/signout" class="connect">Deconnection</a>
        </span>
      </span>
   </div>

   <div id="content">
      <div class="dashboard-back">
      <div class="dashboard-header">
      <h1 class="dashboard-title">DASHBOARD<span class="dashboard-title-spec">ADMIN</span></h1>
       </div>

      </div>
         <div class="dashboard-body">
          <div class="dashboard">
            <!-- <div class="app-management"> -->
              <div class="management-menu">
                <div class="data-admin">
                    <ul class="no-bullet">
                      <li><label>Restaurateur</label></li>
                      <li><a class="admin-btn-style" href="javascript:app.app_nouveau_restaurateur();">nouveau</a></li>
                      <li><a class="admin-btn-style" href="javascript:app.app_gerer_restaurateur();">gerer</a></li>
                      <li><label>Restaurant</label></li>
                      <li><a class="admin-btn-style" href="javascript:app.app_nouveau_restaurant();" >nouveau</a></li>
                      <li><a class="admin-btn-style" href="javascript:app.app_gerer_restaurant();" >gerer</a></li>
                      <li><label>Livreur</label></li>
                      <li><a class="admin-btn-style" href="javascript:app.app_nouveau_livreur();" >nouveau</a></li>
                      <li><a class="admin-btn-style" href="javascript:app.app_gerer_livreur();" >gerer</a></li>
                     </ul>
                </div>
            </div>
            <div class="management-content">

              <div  id="add-restaurateur" class="row">
                <div class="large-3 columns group">
               <span class="add-title">Ajout d'un restaurateur</span>
                <!--*********************** ajouter Restaurateur ******************************-->
                <% form_restaurants_array = @restaurants.map { |i| [i.nom, i.id] } %>
                <% form_restaurants_array.insert(0, [" ","-1"]) #on place un élément vide dans le select%>
                <input type="text"     id="ajouterRestaurateur_nom"      placeholder="nom"/>
                <label class="error" id="ajouterRestaurateur_nom_label"></label>
                <input type="text"     id="ajouterRestaurateur_prenom"   placeholder="prenom"/>
                <label class="error" id="ajouterRestaurateur_prenom_label"></label>
                <input type="text"     id="ajouterRestaurateur_identificateur"    placeholder="nom d'utilisateur"/>
                <label class="error" id="ajouterRestaurateur_identificateur_label"></label>
                <input type="password" id="ajouterRestaurateur_mot_de_passe"  placeholder="mot de passe"/>
                <label class="error" id="ajouterRestaurateur_mot_de_passe_label"></label>
                <%= select_tag(:restaurant, options_for_select(form_restaurants_array, 0), :id =>"ajouterRestaurateur_restaurant") %>
                <label class="error" id="ajouterRestaurateur_restaurant_label"></label>
                <%= link_to "Ajouter restaurateur", "javascript:;", onclick: "app.entrepreneur.restaurateur_new();", class: "hunt-btn-style modifierRestaurateur_btn"%>
                <label id="restaurateur_succes"><!----></label>
              </div>
               <div class="large-8 columns group dashboard-table">
                  
               <table id='restaurateurs_table' class="tble">
                  <tr class="table-title class="tr"">
                    <th>Utilisateur</th>
                    <th>Mot de passe</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Restaurant</th>
                  </tr>
                  <% @restaurateur.each do |r| %>
                  <tr class="tr">
                    <td><%= r.identificateur %></td>
                    <td><%= r.mot_de_passe %></td>
                    <td><%= r.nom %></td>
                    <td><%= r.prenom %></td>
                    <td>
                    <!--*********************** adresse restau à faire ******************************-->
                      <address>
                      <% if r.restaurant != nil # on verifi si le restaurateur possede un restaurant%>
                        <strong><%= r.restaurant.nom %></strong><br>
                          <%= r.restaurant.adresse.no_maison %> <%= r.restaurant.adresse.rue %><br>
                          <%= r.restaurant.adresse.ville %>, <%= r.restaurant.adresse.code_postal %><br>
                        <abbr title="Phone">P:</abbr> <%= r.restaurant.adresse.telephone %>
                      <% else %>
                        <p>restaurant requis</p>
                      <% end # fin if r.restaurant %>
                      </address>
                    </td>
                  </tr>
                  <% end %>
              </table>
              </div>
            </div>

                <div id="add-restaurant" class="row">
                 <div  class="large-4 columns group">
                <span class="add-title">Ajout d'un restaurant</span>
                <div class="row">
   <!-- *************************ajouter restaurant ************************************************-->
                  <% #construction du tableau qui sera passé pour le select du formulaire%>              
                  <% form_select_array = @restaurateurs_sans_restaurants.map {|i| ["#{i.nom} #{i.prenom}",i.id] } %>
                  <% form_select_array.insert(0, [" ","-1"]) #on place un élément vide dans le select%>
                <form accept-charset="UTF-8" action="javascript:app.entrepreneur.restaurant_new(); void(0);" class="large-10 columns" id="new_restaurant">
                        <input class="large-10 columns" id="restaurant_nom" name="restaurant[nom]" placeholder="nom" type="text" />
                        <label class="error"   class="large-8 columns" id="restaurant_nom_label"></label>
                        <input class="large-10 columns" id="adresse_no_maison" name="adresse[no_maison]" placeholder="numéro" type="text" />
                        <label class="error"   class="large-8 columns" id="adresse_no_maison_label"></label>
                        <input class="large-10 columns" id="adresse_rue" name="adresse[rue]" placeholder="rue" type="text" />
                        <label class="error"   class="large-8 columns" id="adresse_rue_label"></label>
                        <input class="large-10 columns" id="adresse_ville" name="adresse[ville]" placeholder="ville" type="text" />
                        <label class="error"   class="large-8 columns" id="adresse_ville_label"></label>
                        <input class="large-10 columns" id="adresse_telephone" name="adresse[telephone]" placeholder="téléphone" type="text" />
                        <label class="error"   class="large-8 columns" id="adresse_telephone_label"></label>
                        <input class="large-10 columns" id="adresse_code_postal" name="adresse[code_postal]" placeholder="code postal" type="text" />
                        <label class="error"   class="large-8 columns" id="adresse_code_postal_label"></label>
                    <%= select_tag(:restaurateur, options_for_select(form_select_array, 0), :id =>"restaurateur") %>
                    <label class="error"   class="large-8 columns" id="restaurateur_label"></label>
                    <input class="admin-btn-style" type="submit" value="Ajouter restaurant" />
                    <label class="error"   class="large-8 columns" id="restaurant_succes"></label>
              </form>              
              </div>
            </div>
    <!-- *************************Table qui montre les ajouts de restaurants*************************************-->
             <div class="large-8 columns group dashboard-table">
              <table id="restaurants_table" class="tble">
                <tr class="table-title" class="tr">
                  <th>Restaurateur</th>
                  <th>Nom</th>
                  <th>Téléphone</th>
                  <th>Numéro</th>
                  <th>Rue</th>
                  <th>Ville</th>
                  <th>Code postale</th>
                </tr class="tr">
                <% @restaurants_restaurateurs.each do |r| %>  
                <tr class="tr">
                  <td><% if r.restaurateur != nil %>
                          <%= "#{r.restaurateur.nom}" + " " + "#{r.restaurateur.prenom}"%></td>
                      <% else %>
                        <p>restaurateur requis</p>
                      <% end %>
                  <td><%= r.nom %></td>
                  <td><%= r.adresse.telephone %></td>
                  <td><%= r.adresse.no_maison %></td>
                  <td><%= r.adresse.rue %></td>
                  <td><%= r.adresse.ville %></td>
                  <td><%= r.adresse.code_postal %></td>
                </tr>
                <% end %>
              </table>
              </div>
            </div>

              <div id="add-livreur" class="row">
                 <div  class="large-4 columns group">
                <span class="add-title">Ajout d'un livreur</span>
                <div class="row">
                  <!--*********************** ajouter Livreur ******************************-->
                  <form accept-charset="UTF-8" action="javascript:app.entrepreneur.livreur_new(); void(0);" class="large-10 columns" id="new_utilisateur" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="<%= form_authenticity_token%>" id="livreur_token"/></div>
                    <input class="large-10 columns" id="utilisateur_nom" name="utilisateur[nom]" placeholder="nom" type="text" />
                    <label class="error"   class="large-8 columns" id="utilisateur_nom_label"></label>
                    <input class="large-10 columns" id="utilisateur_prenom" name="utilisateur[prenom]" placeholder="prenom" type="text" />
                    <label class="error"   class="large-8 columns" id="utilisateur_prenom_label"></label>
                    <input class="large-10 columns" id="utilisateur_identificateur" name="utilisateur[identificateur]" placeholder="nom d&#39;utilisateur" type="text" />
                    <label class="error"   class="large-8 columns" id="utilisateur_identificateur_label"></label>
                    <input class="large-10 columns" id="utilisateur_mot_de_passe" name="utilisateur[mot_de_passe]" placeholder="mot de passe" type="password" />
                    <label class="error"   class="large-8 columns" id="utilisateur_mot_de_passe_label"></label>
                    <input class="admin-btn-style" name="commit" type="submit" value="Ajouter livreur" />
                    <label class="error"   class="large-8 columns" id="utilisateur_succes_label"></label>   
                </form> 
                </div>
              </div>
              <div class="large-8 columns group dashboard-table">
                  <table id="livreurs_table" class="tble">
                  <tr class="table-title" class="tr">
                    <th>Utilisateur</th>
                    <th>Mot de passe</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                  </tr>       
                  <% @livreurs.each do |l| %>  
                  <tr class="tr">
                    <td><%= l.identificateur %></td>
                    <td><%= l.mot_de_passe %></td>
                    <td><%= l.nom %></td>
                    <td><%= l.prenom %></td>
                  </tr>
                  <% end %>
                </table>
              </div>
            </div>
    <!-- ******************************* gerer Restaurateur ********************************-->
    <div  id="gerer-restaurateur" class="row">
               <div class="large-8 columns group dashboard-table">
                  <table class="tble">
                      <tr class="table-title">
                        <th><!--vide valide--></th>
                        <th>Utilisateur</th>
                        <th>Mot de passe</th>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Restaurant</th>
                      </tr>
                      <% @restaurateur.each do |r| %>
                      <tr id="gerer_restaurateur<%=r.id%>" class="tr">
                         <td><div>
                              <%= link_to "Supprimer","javascript:;", onclick: "app.entrepreneur.restaurateur_delete(#{r.id});", class: "hunt-btn-style" %>
                            </div><br/>
                            <div>
                            <% restaurant_nom = r.restaurant == nil ?  '' : r.restaurant.nom%>
                            <%= link_to "Modifier", "javascript:;", onclick: "app.entrepreneur.restaurateur_form_values(#{r.id},\'#{restaurant_nom}\', \'#{r.nom}\', \'#{r.prenom}\', \'#{r.identificateur}\', \'#{r.mot_de_passe}\');", class: "hunt-btn-style modifierRestaurateur_btn"%></div>
                        </td>
                        <td><%= r.identificateur %></td>
                        <td><%= r.mot_de_passe %></td>
                        <td><%= r.nom %></td>
                        <td><%= r.prenom %></td>
                        <td id="gerer_restaurant<%=r.restaurant.id unless r.restaurant == nil%>">
                          <address>
                            <% if r.restaurant != nil # on verifi si le restaurateur possede un restaurant%>
                              <strong><%= r.restaurant.nom %></strong><br>
                                <%= r.restaurant.adresse.no_maison %> <%= r.restaurant.adresse.rue %><br>
                                <%= r.restaurant.adresse.ville %>, <%= r.restaurant.adresse.code_postal %><br>
                              <abbr title="Phone">P:</abbr> <%= r.restaurant.adresse.telephone %>
                            <% else %>
                              <p>restaurant requis</p>
                            <% end # fin if r.restaurant %>
                          </address>
                        </td>
                      </tr>
                      <% end %>
                    </table>
              </div>
               <!-- ******************************* Modifier restaurateur ********************************-->
                <div  class="large-4 columns group">         
                <div class="row" id="mofifierRestaurateur_form">
                <span class="add-title">Edition restaurateur</span>
                  <!--*********************** Modifier Restaurateur ******************************-->
                  <div class="large-10 columns">
                    <% form_restaurants_array = @restaurants.map { |i| [i.nom, i.id] } %>
                    <% form_restaurants_array.insert(0, ["","-1"]) #on place un élément vide dans le select%>
                    <input id="restaurateur_id_edit" type="hidden" value="0">
                    <input type="text"     class="large-8 columns" id="restaurateur_nom_edit"      placeholder="nom"/>
                    <label class="error"   class="large-8 columns" id="restaurateur_nom_edit_label"></label>
                    <input type="text"     class="large-8 columns" id="restaurateur_prenom_edit"   placeholder="prenom"/>
                    <label class="error"   class="large-8 columns" id="ajouterRestaurateur_prenom_label"></label>
                    <input type="text"     class="large-8 columns" id="restaurateur_identificateur_edit"    placeholder="nom d'utilisateur"/>
                    <label class="error"   class="large-8 columns" id="restaurateur_identificateur_edit_label"></label>
                    <input type="password" class="large-8 columns" id="restaurateur_mot_de_passe_edit"  placeholder="mot de passe"/>
                    <label class="error"   class="large-8 columns" id="restaurateur_mdp_edit_label"></label>
                    <%= select_tag(:restaurant, options_for_select(form_restaurants_array, 0), :id =>"restaurateur_restaurant_edit") %>
                    <label class="error" id="restaurateur_restaurant_edit_label"></label>
                    <%= link_to "Modifier restaurateur", "javascript:;", onclick: "app.entrepreneur.restaurateur_update();", class: "hunt-btn-style modifierRestaurateur_btn"%>
                    <label id="restaurateur_edit_succes"><!----></label>
                  </div> 
                </div>
              </div>
            </div>
            <!-- ******************************* gerer restaurant ************************-->
            <div  id="gerer-restaurant" class="row">
               <div class="large-8 columns group dashboard-table">
                  <table class="tble">
                <tr class="table-title" class="tr">
                  <th></th>
                  <th>Restaurateur</th>
                  <th>Adresse</th>
                </tr>
                <% @restaurants_restaurateurs.each do |r| %>
                <tr id="gerer_restaurants<%=r.id%>" class="tr">
                   <td><div>
                    <% restaurant_restaurateur_nom = r.restaurateur == nil ?  '' : r.restaurateur.nom%>
                    <%= link_to "Supprimer", "javascript:;", onclick: "app.entrepreneur.restaurant_delete(#{r.id})", class: "hunt-btn-style" %></div><br/>
                            <div><%= link_to "Modifier", "javascript:;", onclick: "app.entrepreneur.restaurant_form_values(#{r.id}, #{r.adresse.id}, \'#{restaurant_restaurateur_nom}\', \'#{r.nom}\', \'#{r.adresse.no_maison}\', \'#{r.adresse.rue}\', \'#{r.adresse.ville}\', \'#{r.adresse.code_postal}\', \'#{r.adresse.telephone}\');", class: "hunt-btn-style modifierRestaurateur_btn;"%>
                        </div>
                    </td>
                  <td><%if r.restaurateur != nil %>
                          <%= "#{r.restaurateur.nom}" + " " + "#{r.restaurateur.prenom}" %>
                      <% else %>
                        <p>restaurateur requis</p>
                      <% end %>
                  </td>
                 <td>
                      <address>
                        <% if r.adresse != nil %>
                          <strong><%= r.nom %></strong><br>
                            <%= r.adresse.no_maison %> <%= r.adresse.rue %><br>
                            <%= r.adresse.ville %>, <%= r.adresse.code_postal %><br>
                          <abbr title="Phone">P:</abbr> <%= r.adresse.telephone %>
                        <% else %>
                          <p>restaurant requis</p>
                        <% end # fin if r.restaurant %>
                      </address>
                    </td>
                </tr>
                <% end #fin de la boucle%>
                </table>
              </div>
              <!--*********************************modifier restaurant********************************************-->
                    <div  class="large-4 columns group">
                
                <div class="row">

                  <% form_select_array = @restaurateurs_sans_restaurants.map {|i| ["#{i.nom} #{i.prenom}",i.id] } %>
                  <% form_select_array.insert(0, [" ","-1"]) #on place un élément vide dans le select%>
                <form accept-charset="UTF-8"  action="javascript:app.entrepreneur.restaurant_update(); void(0);" class="large-10 columns" id="form_modifierRestaurant">
                <span class="add-title">Edition restaurant</span>
                        <input id="restaurant_id_edit" type="hidden" value="0">
                        <input id="restaurant_adresse_id_edit" type="hidden" value="0">
                        <input class="large-10 columns" id="restaurant_nom_edit" name="restaurant[nom]" placeholder="nom" type="text" />
                        <label class="error"   class="large-8 columns" id="restaurant_nom_edit_label"></label>
                        <input class="large-10 columns" id="restaurant_no_maison_edit" name="adresse[no_maison]" placeholder="numéro de maison" type="text" />
                        <label class="error"   class="large-8 columns" id="restaurant_no_maison_edit_label"></label>
                        <input class="large-10 columns" id="restaurant_rue_edit" name="adresse[rue]" placeholder="rue" type="text" />
                        <label class="error"   class="large-8 columns" id="restaurant_rue_edit_label"></label>
                        <input class="large-10 columns" id="restaurant_ville_edit" name="adresse[ville]" placeholder="ville" type="text" />
                        <label class="error"   class="large-8 columns" id="restaurant_ville_edit_label"></label>
                        <input class="large-10 columns" id="restaurant_telephone_edit" name="adresse[telephone]" placeholder="téléphone" type="text" />
                        <label class="error"   class="large-8 columns" id="restaurant_telephone_edit_label"></label>
                        <input class="large-10 columns" id="restaurant_code_postal_edit" name="adresse[code_postal]" placeholder="code postal" type="text" />
                        <label class="error"   class="large-8 columns" id="restaurant_code_postal_edit_label"></label>
                    <%= select_tag(:form_modifierRestaurant_restaurateur, options_for_select(form_select_array, 10)) %>
                    <input class="admin-btn-style" name="commit" type="submit" value="Modifier restaurant" />
                    <label class="error"   class="large-8 columns" id="restaurant_edit_succes"></label>   
                </form>
                </div>
              </div>
            </div>


            <!-- ************************************ livreur ******************************************-->
              <div id="gerer-livreur" class="row">
              <div class="large-8 columns group dashboard-table">
                  <table id="gerer_livreurs_table" class="tble">
                  <tr class="table-title" class="tr">
                    <th></th>
                    <th>Utilisateur</th>
                    <th>Mot de passe</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                  </tr>
                  <% @livreurs.each do |r| %>
                      <tr id="gerer_livreurs<%=r.id%>" class="tr">
                         <td><div><%= link_to "Supprimer", "javascript:;", onclick: "app.entrepreneur.livreur_delete(#{r.id})", class: "hunt-btn-style" %></div><br/>
                            <div><%= link_to "Modifier", "javascript:;", onclick: "app.entrepreneur.livreur_form_values(#{r.id}, \'#{r.nom}\', \'#{r.prenom}\', \'#{r.identificateur}\', \'#{r.mot_de_passe}\');", class: "hunt-btn-style modifierRestaurateur_btn"%></div>
                        </td>
                        <td><%= r.identificateur %></td>
                        <td><%= r.mot_de_passe %></td>
                        <td><%= r.nom %></td>
                        <td><%= r.prenom %></td>
                      </tr>
                      <% end %>
                </table>
              </div>

                <div  class="large-4 columns group">
                <div class="row" id="mofifierLivreur_form">
                  <!--*********************** Modifier Livreur ******************************-->
                  <form accept-charset="UTF-8" action="javascript:app.entrepreneur.livreur_update(); void(0);"class="large-10 columns" id="form_modifierLivreur">
                      <span class="add-title">Edition livreur</span>
                      <input id="livreur_id_edit" name="utilisateur[id]" type="hidden" value="0" />
                      <input class="large-10 columns" id="livreur_nom_edit" name="utilisateur[nom]" placeholder="nom" type="text" />
                      <label class="error"   class="large-8 columns" id="livreur_nom_edit_label"></label>
                      <input class="large-10 columns" id="livreur_prenom_edit" name="utilisateur[prenom]" placeholder="prenom" type="text" />
                      <label class="error"   class="large-8 columns" id="livreur_prenom_edit_label"></label>
                      <input class="large-10 columns" id="livreur_identificateur_edit" name="utilisateur[identificateur]" placeholder="nom d'utilisateur" type="text" />
                      <label class="error"   class="large-8 columns" id="livreur_identificateur_edit_label"></label>
                      <input class="large-10 columns" id="livreur_mdp_edit" name="utilisateur[mot_de_passe]" placeholder="mot de passe" type="password" />
                      <label class="error"   class="large-8 columns" id="livreur_mot_de_passe_edit_label"></label>
                      <input class="admin-btn-style" name="commit" type="submit" value="Modifier livreur" />  
                      <label class="error"   class="large-8 columns" id="livreur_succes_edit_label"></label> 
                  </form>
                </div>
              </div>
            </div>


            </div>
            <!-- </div> -->


         </div>
    </div>
   </div>
   <div id="footer">
            <div class="row data-center">
              <div class="large-6 columns">
                  <ul class="inline-list lastine">
                    <li >Philippe Potvin</li>
                    <li >William Gomez</li>
                    <li >Reneau Bedard</li>
                  </ul>
              </div>
              <div class="large-6 columns">
                  <p class="copyright">&copy; LOG 210 - Groupe 3</p>
              </div>
          </div>
   </div>
</div>
<script type="text/javascript">
 app.app_nouveau_restaurateur(); 
</script>
