<!-- <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
 -->
<!-- Navigation -->
<div id="wrapper">
   <div id="header" class="fixed">
      <span class="data-title">Luna</span>
      <span class="data-menu">
        <span class="data-right">
          <a href="#" class="connect">Deconnection ></a>
        </span>
      </span>
   </div>

   <div id="content">
      <div class="dashboard-back">
      <div class="dashboard-header">
      <h1 class="dashboard-title">DASHBOARD<span class="dashboard-title-spec">LIVRAISON</span></h1>
          <div class="data-admin-menu">
            <div class="data-admin-button">
              <span class="data-admin-menu-title">Ma commande a livrer: </span>
              <span>#4</span>
              <span>wrw3-wrwr</span>
              <span>Philippe Potvin</span>
              <span>En cours</span>
              <span><a class="hunt-btn-style" href="#">Terminer</a></span>
          </div>
         </div>
       </div>
      </div>
         <div class="dashboard-body">
          <div class="dashboard">
            <div class="management-menu">
                <div class="data-admin">
           <!--          <ul class="no-bullet">
                      <li><label>Restaurateur</label></li>
                      <li><a class="admin-btn-style" href="javascript:app.app_nouveau_restaurateur();">nouveau</a></li>
                      <li><a class="admin-btn-style" href="javascript:app.app_gerer_restaurateur();">gerer</a></li>
                      <li><label>Restaurant</label></li>
                      <li><a class="admin-btn-style" href="javascript:app.app_nouveau_restaurant();" >nouveau</a></li>
                      <li><a class="admin-btn-style" href="javascript:app.app_gerer_restaurant();" >gerer</a></li>
                      <li><label>Livreur</label></li>
                      <li><a class="admin-btn-style" href="javascript:app.app_nouveau_livreur();" >nouveau</a></li>
                      <li><a class="admin-btn-style" href="javascript:app.app_gerer_livreur();" >gerer</a></li>   
                     </ul> -->
                </div>
            </div>
            <div class="management-content">
              <div id="add-restaurant" class="row">
             <div class="large-9 columns group dashboard-table">
              <table>
                <tr class="table-title">
                  <th>No commande</th>
                  <th>no de confirmation</th>
                  <th>date de commande</th>
                  <th>heure de commande</th>
                  <th>statut</th>
                </tr>
                <% @commandes.each do |c| %>               
                  <tr><!--******************************On place le zip code client ici-->
                    <td><%= link_to "#{c.id}", "javascript:;", onclick: "var commande = #{c.to_json};calcRoute(\'h1h3m1\', \'h2x3y2\');commandeDetails(commande)", class: "hunt-btn-style" %></td>

                    <td><%= c.no_confirmation %></td>
                    <td><%= c.date_de_commande %></td>
                    <td><%= c.heure_de_commande.strftime("%I:%M%p") %></td>
                    <td><%= c.status_pret %></td>
                  <tr>
                <%end%>
              </table>
              </div>
                  <div class="large-3 columns group">
         <div class="row">
                  <div class="large-6 columns">
                    <span class="add-title">#4<span></span></span>
                  </div>
                  <div class="large-6 columns ">
                    <span class="bill-price">18$</span>
                  </div>
        </div>

                <div class="row left">
                  <div class="large-12 columns">
                      <p>confirmation: wrw3-wrwr </p>
                  </div>
                  <div class="large-12 columns">
                     <p>date: Feb 26, 2014 12:00:00 PM</p>
                  </div>
                  <div class="large-12 columns">
                        <strong>Mc-Donald</strong><br>
                          795 Folsom Ave, Suite 600<br>
                          San Francisco, CA 94107<br>
                        <abbr title="Phone">P:</abbr> (123) 456-7890
                  </div>
                    <div class="large-12 columns">
                     <p></p>
                    </div>
                  <div class="large-12 columns">
                     <span>TRIO BURGER <span class="bill-price">15$</span></span><br/>
                      <span>BOISSONS <span class="bill-price">1$</span></span><br/>
                      <span>FRITES <span class="bill-price">2$</span></span><br/><br/>
                      <span>TOTAL<span class="bill-price">18$</span></span>
                  </div>
                   <div class="large-12 columns">
                   <%= link_to "Livrer", {controller: "management" ,action: "livrerCommande", id: "0"}, class: "hunt-btn-style" %>
              </div>
            </div>
    </div>
            </div>
            <div  class="row">
               <div class="large-10 columns group dashboard-table">
              
            </div>

       <!--      <div  class="row">
               <div class="large-8 columns group dashboard-table">
             <div class="left">Votre position :</div><br/>
            <div id="directionsPanel" style="float:right;width:30%;height 100%"></div>
            <div id="map_canvas" style="height:400px"></div>
          </div>
            </div> -->
         </div>

    </div>
   <div id="footer">
            <div class="row data-center">
              <div class="large-6 columns">
                  <ul class="inline-list lastine">
                    <li >Philippe Potvin</li>
                    <li >William Gomez</li>
                    <li >Reneau Bedard</li>
                  </ul>
              </div>
              <div class="large-6 columns">
                  <p class="copyright">&copy; LOG 210 - Groupe 3</p>
              </div>
          </div>
   </div>
</div>
    // <script>
    //   var directionsService = new google.maps.DirectionsService();

    //   function initialize() {
    //     directionsDisplay = new google.maps.DirectionsRenderer();
    //     var mapOptions = {
    //       zoom: 10,
    //       center: new google.maps.LatLng(45.5086, -73.5539)
    //     };
    //     var map = new google.maps.Map(map_canvas, mapOptions);
    //     directionsDisplay.setMap(map);
    //     directionsDisplay.setPanel(document.getElementById('directions-panel'));
    //   }

    //   function calcRoute(commande_zip, restaurant_zip) {

    //     var request = {
    //       origin: restaurant_zip,   //code postale du livreur
    //       destination: commande_zip,  //code postale de la commande
    //       travelMode: google.maps.TravelMode.DRIVING
    //     };
    //     directionsService.route(request, function(response, status) {
    //       if (status == google.maps.DirectionsStatus.OK) {
    //         directionsDisplay.setDirections(response);
    //         //alert(response);
    //       }
    //     });
    //   }
    //   google.maps.event.addDomListener(window, 'load', initialize);
    // </script>
