<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
<!-- Navigation -->
<div id="wrapper">
   <div id="header" class="fixed">
      <span class="data-title">Luna</span>
      <span class="data-menu">
        <span class="data-right">
          <nav>
            <ul>
              <li><span class="user"><%= @_user.identificateur %></span> 
                <ul>
                  <li><a href="/">home</a></li>
                  <li><a href="/management/livraison">livraison</a></li>
                  </li>
                </ul>
              </li>
              <li>
                  <a href="/api/signout" class="connect">Deconnection</a>   
              </li>
            </ul>
          </nav>
        </span>
      </span>
   </div>

   <div id="content">
      <div class="dashboard-back">
      <div class="dashboard-header">
      <h1 class="dashboard-title">DASHBOARD<span class="dashboard-title-spec">LIVRAISON</span></h1>
  <!--         <div class="data-admin-menu">
            <div class="data-admin-button">
              <span class="data-admin-menu-title">Ma commande a livrer: </span>
              <span>#4</span>
              <span>wrw3-wrwr</span>
              <span>Philippe Potvin</span>
              <span>En cours</span>
              <span><a class="hunt-btn-style" href="#">Terminer</a></span>
          </div>
         </div> -->
       </div>
      </div>
         <div class="dashboard-body">
          <div class="dashboard">
            <div class="management-menu">
                <div class="data-admin">
           <!--          <ul class="no-bullet">
                      <li><label>Restaurateur</label></li>
                      <li><a class="admin-btn-style" href="javascript:app.app_nouveau_restaurateur();">nouveau</a></li>
                      <li><a class="admin-btn-style" href="javascript:app.app_gerer_restaurateur();">gerer</a></li>
                      <li><label>Restaurant</label></li>
                      <li><a class="admin-btn-style" href="javascript:app.app_nouveau_restaurant();" >nouveau</a></li>
                      <li><a class="admin-btn-style" href="javascript:app.app_gerer_restaurant();" >gerer</a></li>
                      <li><label>Livreur</label></li>
                      <li><a class="admin-btn-style" href="javascript:app.app_nouveau_livreur();" >nouveau</a></li>
                      <li><a class="admin-btn-style" href="javascript:app.app_gerer_livreur();" >gerer</a></li>   
                     </ul> -->
                </div>
            </div>
            <div class="management-content">
              <div id="add-restaurant" class="row">
             <div class="large-9 columns group dashboard-table">
              <table>
                <tr class="table-title">
                  <th>No commande</th>
                  <th>no de confirmation</th>
                  <th>date de commande</th>
                  <th>heure de commande</th>
                  <th>statut</th>
                </tr>
                <% @commandes.each do |c| %>               
                  <tr id="commande<%=c.id%>"><!--******************************On place le zip code client ici-->
                    <td>
                    <%plats = c.commandes_plats.map {|c| {nom:"#{c.plat.nom}", prix:"#{c.plat.prix}", quantitee:"#{c.quantitee}"} }%>
                    <%= link_to "#{c.id}", "javascript:;", onclick: "var commande = #{c.to_json};var plats = #{plats.to_json}; app.livreur.afficher_commande_details(commande,\'#{c.heure_de_commande.strftime("%I:%M%p")}\', plats)", class: "hunt-btn-style" %></td>
                    <td><%= c.no_confirmation %></td>
                    <td><%= c.date_de_commande %></td>
                    <td><%= c.heure_de_commande.strftime("%I:%M%p") %></td>
                    <td><%= c.status_pret %></td>
                  <tr>
                <%end%>
              </table>
              </div>
                  <div class="large-3 columns group">
                <div class="row">
                  <div class="large-6 columns">
                    <span id="commande_id" class="add-title"><!--numéro de la commande--><span></span></span>
                  </div>
                </div>

                <div id="details_commande" class="row left">
                  <div class="large-12 columns">
                      <p id="no_confirmation"></p>
                  </div>
                  <div class="large-12 columns">
                     <p id="date_commande"></p>
                  </div>
                  <div id="adresse_client" class="large-12 columns">
                    <!--adresse du client-->
                  </div>
                  <div id="adresse_restaurant"class="large-12 columns">
                    <!--adresse du restaurant-->
                  </div>
                  <div id="commande_plats" class="large-12 columns">
                      <!--plats dans la commande-->
                  </div>

                  <div id="livraison_client" class="large-12 columns">
                      <!--livraison link--> 
                  </div>
            </div>
    </div>
            </div>

             <div  class="row">
               <div class="large-8 columns group dashboard-table">
             <div class="left">Votre position :</div><br/>
            <div id="directionsPanel" style="float:right;"></div>
            <div id="map_canvas" style="height:400px"></div>
          </div>
            </div>
         </div>

    </div>
   <div id="footer">
            <div class="row data-center">
              <div class="large-6 columns">
                  <ul class="inline-list lastine">
                    <li >Philippe Potvin</li>
                    <li >William Gomez</li>
                    <li >Reneau Bedard</li>
                  </ul>
              </div>
              <div class="large-6 columns">
                  <p class="copyright">&copy; LOG 210 - Groupe 3</p>
              </div>
          </div>
   </div>
</div>
<script type="text/javascript">
  google_map.init();
</script>
